@media (max-width: 400px)
{
    .companyName
    {
        display: none;
    }

    .infoFly
    {
        width: 100%;
    }

    .link
    {
        display: block;
    }

    .button
    {
        display: none;
    }
}