@import '../variables.scss';

p
{
    color: white;
}

.containerInfo
{
    width: 90%;
    margin: 0 auto;
    margin-top: 45px;
}

.top
{
    margin-bottom: 0.5rem;
    margin-top: 3rem;
}

.containerGood
{
    display: flex;
    width: 100%;
    justify-content: space-between;
    
}

.good
{
    width: 33%;
    display: flex;
    justify-content: space-between;
}

.headerGood
{
    width: calc(100% - 1.2rem - 5px);
}

.headerGood>*
{
    margin:0;
}

.headerGood>p
{
    color:$grayColor;
    font-size: smaller;
}

.imag
{
    width: 1.2rem;
    height: 1.2rem;
    background-size: cover;
    background-position: center;
    
}

@import './AT.responsive.scss';