.grid-eur {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
    //margin: 0 auto;
    width: 20%;
    margin-top: 20px;
}

.grid-america {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
    //margin: 0 auto;
    width: 20%;
    margin-top: 20px;
}

.grid-asia {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
    //margin: 0 auto;
    width: 20%;
    margin-top: 20px;
}

.containerInfo
{
    width: 90%;
    margin: 0 auto;
    margin-top: 45px;
}

.top
{
    margin-bottom: 5px;
}