@import '../variables.scss';

.containerItem
{
    display: flex;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid $borderColor;
    margin-bottom: 20px;
    position: relative;
}

.description
{
    width: 70%;
}

.containerImg
{
    height: 23vh;
    width: 25%;
    margin-right: 0.5rem;
    overflow: hidden;
}

.img
{
    cursor: pointer;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    transition: 0.3s ease-in-out;
}

.img:hover
{
    scale: 1.1;
}

.tour
{
    margin-bottom: 0;
}

.place
{
    color:$grayColor;
}

.description
{
    color:$grayColor;
    font-size: smaller;
}

.price
{
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: green;
}

.list
{
    margin-top: 1rem;
}

.icon
{
    background-position: center;
    background-size: cover;
    width: 1rem;
    height: 1rem;
    margin-right: 3px;
}

.item
{
    display: flex;
    align-items: center;
}