
@import '../variables.scss';
.top
{
    margin: 0 auto;
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.filter
{
    width: 50%;
}


.containerSearchBar
{
    display: flex;
    width: 50%;
    background: orange;
    padding: 3px;
    border-radius: 5px;
    height: fit-content;
}

.filtersAndResults
{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.filters
{
    height: min-content;
    width: 35%;
}

.results
{
    width: 50%;
}

.showFiltersMessage
{
    cursor: pointer;
    display: none;
}

@import './searchTurism.responsive.scss';