@import '../variables.scss';

.tabContainer
{
    display: flex;
    width: 99%;
    overflow-x: scroll;
}

.tab
{
    padding: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px $borderColor solid;
    cursor: pointer;
    border-right:none ;
}

.tab:first-child
{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.tab:last-child
{
    border-right: 1px $borderColor solid;
    border-end-end-radius: 5px;
    border-top-right-radius: 5px;
}


.tab:hover
{
    background: $borderColor;
}

.tab>*
{
    margin: 0;
}

.tabSelected
{
    background: white;
}

.tabSelected:hover
{
    background: white;
}

.containerImages
{
    display: none;
    transition: 0.3s ease-in-out;
}

.containerImg
{
    border-radius: 5px;
    
    width: 96%;
    height: 19vw;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    margin: 0 auto;
    margin-bottom: 1vw;
}

.containerImg:hover>.img
{
    scale: 1.1;
}

.img
{
    width: 100%;
    height: 100%;
   background-position: center;
   background-size: cover;
   transition: 0.3s ease-in-out;
   
}

.containerImages
{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.containerText
{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    bottom: 0;
    left: 0;
    padding-bottom: 5px;
    justify-content: flex-end;
    color: white;
    padding-left: 20px;
    background: linear-gradient(to bottom, transparent , black);
}

.containerText>*
{
    margin: 0;
    font-weight: bold;
}

.containerText>p
{
    font-size: smaller;
}

.toDo
{
    color: white;
    font-size: smaller;
}

@import './tab.responsive.scss';