section {
  width: 900px;
  height: 3220px;
  overflow: auto;
  padding-bottom: 60px;
  padding-top: 30px;
  //border-style: solid;
  
}

.layout {
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
  .aside {
    display: grid;
    gap: 7px;
  }
}