@media (max-width: 999px)
{
    .form
    {
        width: 60%;
    }
}

@media (max-width: 900px)
{
    .form
    {
        width: 70%;
    }
}

@media (max-width: 700px)
{
    .form
    {
        width: 85%;
    }
}

@media (max-width: 600px)
{

    .top
    {
        padding: 2rem;

    }

    .form
    {
        width: 95%;
    }
}

@media (max-width: 500px)
{

    .top
    {
        padding: 1rem;

    }

    .form
    {
        width: 100%;
    }
}

@media (max-width: 400px)
{
    .buttonContainer
    {
        display: none;
    }

    .buttonMobile
    {
        display: block;
    }

    .inputContainer
    {
        width: 100%;
    }
}