.transition
{
    -webkit-transition: all .5s ease-out;
    transition: all .5s ease-out;
    display: block;
}

.hide{
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  
   position: absolute;
}