@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@700&family=Poppins:wght@700&display=swap');

$Poppins: 'Poppins', sans-serif;

//colors
$blue: #003580;
$primary: #1353d8;
$light: #fff; 
$bg: rgb(244,244,255);
$img: url("../images/header.jpg");
$breadcrumb-divider: quote(">");
$borderColor: rgb(133, 131, 131);
$goldenColor: #ffc600;


//spacing
$spacing-md: 16px;
$spacing-lg: 32px;

//border radius
$borderRadius: 12px;

//header height
$headerHeight: 15vh;

//cabecera height
$cabeceraHeight: 100vh - $headerHeight;

//cabecera height
$cabecerafly: 50vh;

@mixin breakpoint($point){
    @if $point == md {
        @media (min-width: 66.188rem){
            @content;
        }
    }
    
}