@media (max-width: 600px)
{
    .imgCarousel
    {
        margin-top: 1.5rem;
        width: 100%;
        height: 100%;
        max-width: 100%;
    }

    .svg
    {
        display: none;
    }

    .arrowBottom
    {
        display: block;
    }

    .counterContainer
    {
        justify-content: space-between;
        align-items: center;
    }
}

@media (max-width:400px)
{
    .imgCarousel
    {
       
        height: 90%;
        margin: 0;
        
    }
}