@import '../../variables.scss';

.container
{
    width: 95%;
    height: 95%;
    background:white;
    border-radius: 5px;
    box-shadow: -1px 7px 34px -4px rgba(0,0,0,0.44);
-webkit-box-shadow: -1px 7px 34px -4px rgba(0,0,0,0.44);
-moz-box-shadow: -1px 7px 34px -4px rgba(0,0,0,0.44);
overflow: hidden;

}
//borrar luego esta clase

.top
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-bottom: 1px solid $borderColor;
    position: sticky;
    background:white;
    top: 0;
}

.leftContainer
{
    display: flex;
}

.hotel
{
    display: flex;
    align-items: center;
}



.hotel>*
{
    margin-right: 0.3rem;
}

.stars
{
    color: $goldenColor;
    margin-right: 0.2;
}

.stars>i
{
    margin-right: 0.1rem;
}

.containerButton
{
    margin: 0;
}

.close
{
    cursor: pointer;
    display: flex;
    align-items: center;

    
}

.close:hover
{
    color:$primary;
}

.close>i
{
    font-size: 2rem;
}

.close:hover>.textClose
{
    color: $primary;
}

.textClose
{
    margin: 0;
    margin-right: 0.3rem;
}

.commentsAndGallery
{
    height: calc(100% - 4rem);
}

.containerGallery
{
    height: 100%;
    overflow-y: scroll;
}

.gallery
{
    padding: 1rem;
    width:100%;
    column-count: 3;
    height: fit-content;
}

.containerImg
{
    max-width: 100%;
    border-radius: 5px;
    cursor: pointer;
    overflow: hidden;
}

.img{
   width: 100%;

    transition: 0.3s ease-in-out;
}

.img:hover
{
    scale: 1.1;
}


.containerCarousel
{
    height: 100%;
   padding-left: 3rem;
   padding-right: 3rem;
   padding-top: 1rem;
   padding-bottom: 1rem;
}

.carousel
{
    height: calc(100% - 3rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.imgCarousel
{
    max-width: 100%;
    max-height: 100%;
}


.svg
{
    height: 3rem;
    width: 3rem;
   border-radius: 50%;
   padding: 0.5rem;
    transition: 0.1s ease-in-out;
   cursor: pointer;
}

.svg:hover
{
    background:$borderColor;
}

.invisible:hover
{
    background:transparent;
}

.counter
{
    text-align: center;
    font-size: 2rem;
}

