.container
{
    background: rgba(243, 81, 81, 0.301);
    padding: 1rem;
    display: flex;
    align-items: center;
    border: red solid 1px;
}

.icon
{
    width: 1.3rem;
    height: 1.3rem;
    background-size: cover;
    background-position: center;
    margin-right: 2rem;
}

