.container
{
    width: 98%;
    height: 30vh;
    margin: 0 auto;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    cursor: pointer;
    position: relative;
    
}

.containerImage
{
    width: 100%;
    height: 100%;
    transition: 0.3s ease-in-out;
    background-position: center;
    background-size: cover;
    transition: 0.3s ease-in-out;

}

.container:hover>.containerImage
{
    scale: 1.1;
}

.containerText
{
    color: white;
    font-weight: bolder;
    width: 100%;
    text-align: center;
    background:rgba(128, 128, 128, 0.658);
    padding-top: 5px;
    padding-bottom: 5px;
    position: absolute;
    bottom: 0;
}

.containerText>*
{
    margin: 0;
}