.container
{
    height: 15vw;
}

.containerImage
{
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    transition: 0.3s ease-in-out;

}

.container:hover>.containerImage
{
    scale: 1.1;
}

.backTransparent
{
    color: white;
    font-weight: bolder;
    width: 100%;
    display: flex;
    background:rgba(128, 128, 128, 0.658);
    padding-top: 5px;
    padding-bottom: 5px;
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, transparent , black);
    align-items: flex-end;
    padding-left: 20px;
}

.center
{
    padding-left: 0;
    justify-content: center;
}

.containerText>*
{
margin: 0;
}

.containerText>p
{
    font-size: smaller;
}

.blur
{
   
    position: absolute;
}

.toDo
{
    font-size: smaller;
}

@import './cardStay.responsive.scss';