@import '../variables.scss';

.container
{
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

.green
{
    border: green solid 1px;
    background: rgba(65, 212, 65, 0.315);
}

.white
{
    border: solid 1px $borderColor;
}

.icon
{
    width: 1.3rem;
    height: 1.3rem;
    background-size: cover;
    background-position: center;
}

.row
{
width: calc(100% - 1.3rem - 2rem);
}