.container
{
    background: rgba(65, 212, 65, 0.315);
    padding: 1rem;
    align-items: center;
    border: green solid 1px;
}

.icon
{
    width: 1.3rem;
    height: 1.3rem;
    background-size: cover;
    background-position: center;
    margin-right: 2rem;
}

.row
{
    align-items: center;
    display: flex;
}