.item
{
    background:rgba(243, 241, 241, 0.767);
    -webkit-box-shadow: 3px 2px 18px -1px rgba(0,0,0,0.43); 
    box-shadow: 3px 2px 18px -1px rgba(0,0,0,0.43);

    border: 1px solid rgb(214, 214, 214);
}