@import '../../variables.scss';

.containerCarousel
{
    width: 100%;
    height: 100%;
    margin-bottom: 1rem;
}

.containerImg
{
    width: 100%;
    height: 85vh - $headerHeight;
    //min-height: 400px;
    max-height: 95vw;
    background-position: center;
    background-size: cover;
    border-radius: 3px;
}

