@import '../../variables.scss';

.container
{
    display: flex;
}

.left
{
    width: 25%;
    background: $lightBlue;
    padding: 2rem;
}

.h
{
    width: fit-content;
    line-height: 2.2rem;
}

.rigth
{
    width: 75%;
}

@media (max-width: 800px)
{
    .container
    {
        flex-direction: column;
    }

    .rigth
    {
        width: 100%;
    }

    .left
    {
        width: 100%;
    }
}