@import '../../variables.scss';
.container
{
    border: 2px solid $borderColor;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

.head
{
    display: flex;
    justify-content: space-between;
}

.icon
{
    width: 5rem;
    height: 5rem;
    background-position: center;
    background-size: cover;
}

.containerInfo
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(100% - 4rem - 2rem);
}

.title
{
    font-weight: bold;
}

.finalInfoMobile
{
    display: none;
}

@import './responsiveComponents/infoLink.responsive.scss';