@import '../../variables.scss';

.container
{
    background:$lightBlue;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container>p
{
    margin: 0;
}