@import '../../styles/variables.scss';

.containerComments
{
    width: 100%;
    height: min-content;
    margin: 0 auto;

}

.containerSingleComment
{
    margin: 0 auto;
    width: 95%;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid rgb(170, 167, 167);
}

.containerSingleCommentExpanded
{
    height: min-content;
}

.profilePicture
{
    width: 4rem;
    height: 4rem;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}

.headerComment
{
    display: flex;
    align-items: center;
}

p{
    margin:0
}

h4{
    margin: 0;
}

.name_country
{
    margin-left: 15px;
}

.country
{
    color:$grayColor;
    margin-left: 2px;
}

.text{
    margin-top: 25px;
}

.readMore
{
    cursor: pointer;
    margin-top: 15px;
}