@import '../variables.scss';

.container_category
{
    display: flex;
    flex-direction: column;
    
}

.titleCategory
{
    padding: 15px;
    border: $borderColor 1px solid;
    border-bottom: none;
    border-right: none;
}

.titleCategory>h6
{
    margin-bottom: 3px;
}

.light_sub
{
    height: 1px;
    background: rgb(29, 28, 28);

}

.showFiltersMessage
{
    cursor: pointer;
    display: none;

}

@media (max-width: 500px)
{
    .showFiltersMessage
    {
        display: block;
    }
}

