@media (max-width: 369px)
{
    .singleHotel
    {
        height: 82vw;
    }
}

@media (min-width: 370px) and (max-width:379px)
{
    .singleHotel
    {
        height: 78vw;
    }
}

@media (min-width: 380px) and (max-width:400px)
{
    .singleHotel
    {
        height: 70vw;
    }
}


@media (min-width: 401px) and (max-width:449px)
{
    .singleHotel
    {
        height: 65vw;
    }
}

@media (min-width: 450px) and (max-width:499px)
{
    .singleHotel
    {
        height: 60vw;
    }
}


@media (max-width: 499px)
{
    .noImage
    {
        align-items: center;
    }

    .priceSection
    {
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
    }

    .priceAndButton
    {
        width: 100%;
        height: fit-content;
        align-items: flex-start;
    }

    .extraInfo
    {
        text-align: left;
        width: 100%;
        margin-top: 0;
    }

    .containerImag
    {
        width: 80vw;
    }

    .points
    {
        display: none;
    }

    .price
    {
        align-items: flex-start;
    }

    .containerButton
    {
        width: 100%;
    }

    .name>a>h4
    {
        width: min-content;
    }
}


@media (min-width: 500px) and (max-width: 599px)
{
    .singleHotel
    {
        height: 40vw;
    }

    .name>a>h4
    {
        margin: 0;
        width: min-content;
    }

}

@media (min-width: 600px) and (max-width: 700px)
{

    .singleHotel
    {
        height: 28vw;
    }
}

@media (min-width: 701px) and (max-width: 859px)
{

    .singleHotel
    {
        height: 25vw;
    }
}

@media (max-width: 859px)
{
    .containerHotels
    {
        width: 100%;
    }
}

@media (min-width: 860px) and (max-width: 949px)
{
    .containerHotels
    {
        width: 95%;
    }

    .singleHotel
    {
        height: 23vw;
    }
}

@media (min-width: 950px) and (max-width: 1050px)
{
    .containerHotels
    {
        width: 95%;
    }

    .singleHotel
    {
        height: 21vw;
    }
}