@import '../variables.scss';

.containerSelects
{
    padding: 1rem;
}

.select
{
    display: flex;
    justify-content: space-between;
    margin:0 auto;
    padding: 0.3rem;
    
}

.buttonCount
{
    box-shadow: none;
    color: $grayColor;
    border: 1px solid $grayColor;
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.buttonCount:hover
{
    box-shadow: none;
    background: rgba(121, 223, 223, 0.486);
}

.plusMinus
{
    background: white;
}