@import '../../styles/variables.scss';

.containerSearch
{
    display: flex;
}

.container
{
    width: 100%;
    background: orange;
    padding: 1rem;
    
    
}

.filterTitle
{
    margin-left: 10px;
}

.labelFor
{
    margin: 0;
    margin-left: 5px;
    margin-top: 3px;
}

.aside
{
    width: 25%;
    
    /*margin-top: 10px;
    margin-left: 10px;*/
    
}

.filterContainer
{
    border-bottom: 1px solid $borderColor;
    border-right: 1px solid $borderColor;
    //margin-left: 10px;
    width: 100%;
    margin-top: 10px;
}

.containerBlueButton
{
    margin-top: 10px;
}

.listHotels
{
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.showFiltersMessage
{
    cursor: pointer;
    display: none;
}


@import './SearchHotel.responsive.scss';