.container
{
    width: 100%;
    background: orange;
    padding: 1rem;
    margin-top: 10px;
    margin-left: 10px;
}

.labelFor
{
    margin: 0;
    margin-left: 5px;
    margin-top: 3px;
}

.aside
{
    width: 25%;
}

.filterContainer
{
    border-bottom: 1px solid rgb(133, 131, 131);
    margin-left: 10px;
    width: 100%;
    margin-top: 10px;
}