@import '../variables.scss';

@media (max-width: 500px)
{
    .aside
    {
        width: 90%;
        flex-direction: column;
        height: fit-content;

        border-bottom: none;
    }

    .hide
    {
        display: none;
    }

    .showFiltersMessage
    {
        display: block;
    }
}

@media (min-width: 501px) and (max-width: 599px)
{
    .aside
    {
        width: 100%;
        height: 90vh - $headerHeight;
    }
}

@media (min-width: 600px) and (max-width:949px)
{
    .aside
    {
        width: 90%;
        height: 90vh - $headerHeight;
    }
}



@media (max-width: 949px)
{
    .aside{
        display: flex;
        margin: 0 auto;
        overflow: hidden;
        
    }

    .listHotels
    {
        width: 90%;
        margin: 0 auto;
    }

    .containerSearch
    {
        flex-direction: column;
    }

    .filterContainer
    {
        top: 0;
        left: 90%;
        height: 100%;
        overflow-y: scroll;
        border-bottom:none;
    }

    .container
    {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

}

@media (min-width: 501px) and (max-width: 949px)
{
    .aside{
        border-bottom: 1px solid $borderColor;

    }
}