
@media (max-width: 859px)
{
    .container
    {
        width: 100%;
    }

}

@media (max-width: 400px)
{
    .container
    {
        flex-wrap: nowrap;
        flex-direction: column;
        width: 100%;
        //margin-left: 24.5%;
    }

    .title
    {
        //text-align: center;
    }
}
