@import '../variables.scss';

.container
{
    margin-bottom: 40px;
    
}

.header
{
    display: flex;
    margin-bottom: 5px;

}

.icon
{
    width: 1.2rem;
    height: 1.2rem;
    background-position: center;
    background-size: cover;
}

.name
{
    margin:0;
    margin-left: 5px;
}

.blackService
{
    color:$grayColor;
}

.blackService>i
{
    font-size: 1.2rem;
    margin-right: 5px;
}
