@import '../variables.scss';


.stars
{
    margin-left: 10px;
}

.stars>i
{
    color:$goldenColor;
    font-size: 1.6rem;
    margin-right: 3px;
}

.nameAndStars
{
    display: flex;
    align-items: center;
 }

 .name
 {
     margin:0;
     width:min-content;
 }