@import "../variables.scss";

.container
{
    width: 90%;
    display: flex;
    flex-direction: column;
    margin:0 auto;
}

.containerHeader
{
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.containerBooking
{
    align-self: flex-end;
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 10px;
}

.booking
{
    width: 49.5%;
}

.containerGallery
{
    margin:0 auto;
    width: 100%;
    height: 85vh - $headerHeight;
    min-height: 400px;
    max-height: 85vh - $headerHeight;
    display: flex;
    justify-content: center;
    align-items: center;
}



.img
{
    background-position: center;
    background-size: cover;
    /*height: 500px;
    width: 800px;*/
}

.h2
{
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.marginBottom
{
    margin-bottom: 2rem;
}

.descriptionAndGood
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.description
{
    width: 60%;
}

.goodPoints
{
    background: $lightBlue;
    padding: 1rem;
    width: 25%;
    border-radius: 5px;
}

.line
{
    width: 100%;
    height: 1px;
    background:$borderColor;
    margin-top: 1rem;
}

.avaible
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.equilityPrice
{
    display: flex;
    
}

.equilityPrice>i
{
    margin-right: 0.2rem;
    font-size: 1rem;
    color: $primary;
}

.reserveData
{
    margin-top: 0.5rem;
    background:rgba(255, 196, 0, 0.644);
    padding: 1rem;
    border: solid 2px orange;
}

.modifySearch
{
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    border: 1px solid $borderColor;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
}

.buttonRight
{
    width: 25%;
    margin-top: 1rem;
    align-self: flex-end;
    margin-right: 3rem;
}

.around
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.around>div
{
    width: 25%
}

.containerBlackServices
{
    margin-top: 2rem;
    
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.containerFinalInfo
{
    display: flex;
    justify-content: space-between;
  
    
}

.finalBookingContainer
{
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin-top: 0.5rem;
    align-self: flex-end;
}

.finalBooking
{
    width: 49%;
}

@import './singleHotel.responsive.scss';