@import "../variables.scss";


.center-1 {
    
    margin-top: 13px;
    width: 600px;
    height: 40px;
    padding: 1px 10px;
    
}

.center-2 {
    
    margin-top: 1px;
    width: 600px;
    padding: 10px 30px;
    
}

.center-3 {
    
    margin-top: 4px;
    width: 600px;
    height: 400px;
    padding: 0px 0px;
    
}

.center-4 {
    
    margin-top: 4px;
    width: 600px;
    height: 130px;
    padding: 1px 10px;
    
}

.center-5 {
    
    margin-top: 4px;
    width: 600px;
    height: 400px;
    padding: 0px 0px;
    
}

.center-6 {
    
    margin-top: 4px;
    width: 600px;
    height: 200px;
    padding: 1px 10px;
    
}

.center-7 {
    
    margin-top: 4px;
    width: 600px;
    height: 400px;
    padding: 0px 0px;
    
}

.center-8 {
    
    margin-top: 4px;
    width: 600px;
    height: 300px;
    padding: 0px 0px;
    
}

.format {
  width: 595px;
  height: 395px;
  size: cover;
  position: center;

}

